# 1
[1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

# 2
['Life', 'is', 'too', 'short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

# 3
(1, 2, 3)이라는 튜플에 4라는 값을 추가하여 (1, 2, 3, 4)처럼 만들어 출력해 보자.

# 4

딕셔너리 a에서 'B'에 해당되는 값을 (1)추출하고 (2)삭제해보자.

`a = {'A':90, 'B':80, 'C':70}`

In [ ]:


result = 
print() #B를 추출한 후 딕셔너리
print() #B에 해당되는 값

# 5

다음 딕셔너리에서 2.5의 값을 추출해보자.
```
demo = {2:['a', 'b'], (2, 4): 27, 'x':{1:2.5, 'a':500}}
```
output으로 `2.5`가 출력될 수 있도록 코드를 작성해주세요.

# 6

a 리스트에서 중복된 숫자들을 제거해 보자.

`a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]`

# 7
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 

아래와 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까? 

그리고 이런 결과가 나오는 이유에 대해서 생각해보자.

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
# line by line으로 먼저 생각해보시고!
# print로 찍어서 확인해보세요.
# 생각하신 a,b 값이 나왔나요?

# 8
윤년을 판단해주는 코드를 작성해봅시다.

판단하는 알고리즘은 다음과 같습니다.
1. /4 해서 나누어 떨어지는 해인지 여부(나누어 떨어지면 일단 윤년 O)
2. 1번에 해당하는 해 중에 년도/100이 또 나누어 떨어지면 윤년 x
3. 2번에 해당하면서 년도/400이면 윤년 O

In [3]:
# control을 복습할 수 있는 매우 좋은 예제입니다!
# 끝까지 도전해보세요~ :)
year = int(input())
if year%4==0:
    result = "윤년"
    if year%100==0:
        result = "평년"
        if year%400==0:
            result = "윤년"
print(result)

 444

윤년

In [13]:
year = int(input())
if year%4==0 and year%100==0: result="평년"
elif year%4==0 and year%400==0: result="윤년"
else: result="평년"
print(result)

 400

평년

In [ ]:
#454 평년
#400 윤년
#100 평년
#4 윤년
#500 평년
#600 평년