In [1]:
print("hello")

hello

In [2]:
#expression, statement, program
#keyword: 이미 정의된 단어(예약어)
import keyword #python에 keyword.py라는 파일이 있음
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
#identifier: _만 특수문자 허용
#snake case VS camel case: snake_case(함수형), CamelCase(객체지향)
#camel: class
#snake: function or variable

In [4]:
#comment
#compile(C):번역된 책(.exe)
#interpreter(Python): 동시통역(.py)

#연산자
#리터럴 literal: 자료 = 어떠한 값 자체 e.g.)1, 10, "Hello"

In [5]:
#print() function
print(51, 456)

51 456

In [6]:
print("안녕하세요")
print()
print("hello")

안녕하세요

hello

In [7]:
#variable 선언
a = 10
b = 20

In [8]:
whos

Variable   Type      Data/Info
------------------------------
a          int       10
b          int       20
keyword    module    <module 'keyword' from 'D<...>\quant\\lib\\keyword.py'>

In [9]:
c = a+b
print(c)

30

In [14]:
#자료형과 문자열
# 문자열 "", ''
# 숫자
# type()으로 유형 확인: int/str/float...
type(1)

int

In [11]:
type("hi") #print 생략

str

In [13]:
print(type("hi"))

<class 'str'>

In [15]:
type(2.13)

float

In [16]:
#문자열 내에 따옴표 넣기
print(""안녕하세요"라고 말했다."")

SyntaxError: invalid syntax (<ipython-input-16-c3d3da1a5157>, line 2)

In [17]:
#escape character
#\n줄바꿈
#\t 탭
#\', \"
print("\"안녕하세요\"라고 말했다.") 
#작은/큰 따옴표를 번갈아 사용해도 됨

"안녕하세요"라고 말했다.

In [18]:
print("안녕하세요\n안녕하세요")

안녕하세요
안녕하세요

In [19]:
print("hello\thello")

hello	hello

In [20]:
print("hi\t\thi")

hi		hi

In [21]:
print("test\n\tend")

test
	end

In [22]:
#\를 출력할땐 \\
#SQL 할때 """long sentence"""이용할 일이 생김
#documentation할때도 쓰임
print("""SQLQLQLQLQLQLQLQL
QLQLQLQLQLQL
QLQLQLQL
QLQL""")

SQLQLQLQLQLQLQLQL
QLQLQLQLQLQL
QLQLQLQL
QLQL

In [23]:
#문자열 연산자
#+ :문자열 연결, 연산자 오버라이딩(연산자를 다른 기능으로 사용)
print("hello, "+"there!")

hello, there!

In [24]:
print("hello" + 1)

TypeError: must be str, not int

In [25]:
print("hello"+str(1)) #str()문자열로 바꿔주는 함수

hello1

In [26]:
a = 5
print("안녕하세요"+str(a)+"등 R언어")

안녕하세요5등 R언어

In [27]:
print("hello"*3)

hellohellohello

In [29]:
print(3*"hellothere")

hellotherehellotherehellothere

In [31]:
#indexing: python은 zero index 유형, R만 특이하게 one index임(근데 matlab도 이럼)
s1 = "안녕하세요"

In [34]:
print(s1[0])
print(s1[3])
print(s1[5]) #없는 인덱스 애러

안
세

IndexError: string index out of range

In [36]:
#뒤에서 부터
print(s1[-1])

요

In [37]:
#slicing
print(s1[1:4]) #0부터 세고, 시작숫자는 포함 마지막 숫자는 포함 안함

녕하세

In [38]:
# 회원정보 중에서 생년원일과 성별이 포함되어 있는 data
# 생일날에 축하메세지를 보내고 싶다면
# +a: 성별에 따른 쿠폰을 지급
member1 = "19880701-1"
#          0123456789
birth = member1[4:8]
gender = member1[-1]
print(birth, gender)

0701 1

In [40]:
if birth == '0701':
    if gender == '1':
        print("coupon for men is sent")
    else:
        print("coupon for women is sent")

coupon for men is sent

In [41]:
print(s1[2:])
print(s1[:4])

하세요
안녕하세

In [42]:
#len()
#보통 함수 이름을 3글자로 줄여서 만들어 놓음
print(len(s1))

5

In [45]:
#회원 가입할 때 아이디의 길이 제한이 있을 경우
user_id = 'hong1234'
# 12글자 이상 16글자 이하
len1 = len(user_id)
print(len1)
if len1 < 12:
    print("12글자 이상 입력바랍니다.")
if len1 >16:
    print("16글자 이하로 입력바랍니다.")

8
12글자 이상 입력바랍니다.

In [48]:
# 숫자
#정수형, 실수형 
#명시적인 선언: C, C++, Java - int a = 10;(32bit)
#묵시적인 선언: Python, JS, R, ... - a = 10(32bit가 나중에 만들어짐)
#사칙 연산 +-*/
print(3/2)
print(3//2) #몫
print(5%2) #나머지

1.5
1
1

In [49]:
a = 20
if a%2 == 0:
    print("짝수")
else:
    print("홀수")

짝수

In [50]:
b=30
if b%3==0:
    print("3의 배수")
else:
    print("3의 배수가 아니다")

3의 배수

In [51]:
# ** 제곱연산자
2**3

8

In [54]:
#우선순위 */ -> -+
#변수와 입력
pi = 3.14159265
r = 10

print("원주", 2*pi*r)
print("원의 둘레",pi*r*r)

원주 62.831853
원의 둘레 314.159265

In [56]:
a = a+10

b+=10
print(a,b)

40 50

In [57]:
s2 = input("say anything")
#표준 입력 #print() 표준출력
print(s2)

say anything hi

hi

In [59]:
#계산기 만들기1
n1 = input("첫번째 숫자:")
n2 = input("두번째 숫자:")
#type(n1) -> str
a = int(n1)
b = int(n2)
c = a+b
print(a, "+", b, "=", c)

첫번째 숫자: 10
두번째 숫자: 20

10 + 20 = 30

In [5]:
###### 계산기 만들기2
n1 = input("첫번째 숫자:")
n2 = input("두번째 숫자:")
op = input("원하는 연산")
a = int(n1)
b = int(n2)
if op=="+":
    c = a+b
elif op=="-":
    c = a-b
elif op=="/":
    c = a/b
elif op == "*":
    c = a*b
else:
    print("ERROR")
print(a, op, b, "=", c)

첫번째 숫자: 10
두번째 숫자: 50
원하는 연산 -

10 - 50 = -40

In [1]:
int("100")

100

In [2]:
float(50)

50.0

In [3]:
str(650)

'650'

In [13]:
#변수 선언/할당/참조
#문자열 format 함수
#upper()/lower() 
#strip() 공백제거 l/r둘중에 고를 수 있음
#isOO() 불리안으로 판단 True/False(첫번째 글자가 대문자)
#find()/rfind() 오른쪽에서부터 찾기도 있음
#split()
"{}".format(10)
"{} {}".format(10, 20)
"{} {} {}".format(a,b,c)

'10 50 -40'

In [7]:
format_a = "{}만원".format(5000)

In [8]:
format_a

'5000만원'

In [9]:
format_b = "python 열공하여 첫 연봉 {}만원 만들기".format(5000)

In [10]:
format_b

'python 열공하여 첫 연봉 5000만원 만들기'

In [11]:
format_c = "{} {} {}".format(3000, 4000, 5000)

In [12]:
format_c

'3000 4000 5000'

In [14]:
format_d = "{} {} {}".format(1, "string", True)

In [15]:
format_d

'1 string True'

In [16]:
"{} {}".format(1, 5, 7, 8, 6)

'1 5'

In [29]:
#d: dicimal
output_a = "{:10d}".format(52)

In [20]:
output_a

'        52'

In [22]:
output_b = "{:05d}".format(52)

In [23]:
output_b

'00052'

In [24]:
output_c = "{:d}".format(52)
output_c

'52'

In [25]:
output_d = "{:5d}".format(52)

In [26]:
output_d

'   52'

In [27]:
output_b

'00052'

In [30]:
output_a

'        52'

In [31]:
output_f = "{:010d}".format(52)

In [32]:
output_f

'0000000052'

In [41]:
output_g = "{:+d}".format(52)

In [44]:
output_g

'52'

In [43]:
output_g = "{:-d}".format(52)

In [48]:
temp_a = "{:15.3f}".format(52.86954)
temp_b = "{:15.2f}".format(52.86954)
temp_c = "{:15.1f}".format(52.86954)

In [49]:
print(temp_a, temp_b, temp_c)

         52.870           52.87            52.9

In [50]:
#assignment
#로또 번호 생성기
# 1. 1~45중 중복 없이 6개 번호 얻기
# 2. 정렬
# 3. 로또 번호의 합이 정규분포를 이룸(1*6=6 ~ 45*6=270) -> 100~170
# 안나올 번호를 버리는 프로그램이라고 할 때 범위를 벗어나면 지움
# 4. 5게임
# 최대한 소스코드가 짧게 해서 8줄?까지 작성해보기

In [51]:
import numpy as np

for i in range(5):

SyntaxError: unexpected EOF while parsing (<ipython-input-51-aa82eeb25f1e>, line 1)