---
# Data Type _ List

숫자 모음이나 문자(열) 모음을 나타내는 자료형

## 리스트 생성과 사용

        odd = [1, 3, 5, 7, 9]


        a = [] #빈 리스트
        b = [1, 2, 3] #숫자만
        c = ['Life', 'is', 'too', 'short'] #문자열만
        d = [1, 2, 'Life', 'is'] #숫자와 문자열 함꼐
        e = [1, 2, ['Life', 'is']] #리스트 자체가 요소로

In [0]:
#리스트를 만들어 봅시다.

## indexing

        a = [1, 2, 3]
        a
        #output [1, 2, 3]

        a[0]
        #output 1
        a[0] + a[2]
        #output 4
        a[-1]
        #output 3

In [0]:
#1개의 리스트 인덱싱


    리스트 속 리스트

        a = [1, 2, 3, ['a', 'b', 'c']]

        a[0]
        #output 1
        a[-1]
        #output ['a', 'b', 'c']
        a[3]
        #output ['a', 'b', 'c']

     b를 꺼내기 위해서는?

        a[-1][1]
        #output 'b'

In [0]:
# 리스트 속 리스트!

    - 삼중 리스트에서 인덱싱하기(+alpha)

            a = [1, 2, ['a', 'b', ['Life', 'is']]]

        여기에서 'Life'를 꺼내보자

            a[2][2][0]
            #output 'Life'

In [0]:
# 삼중 리스트 인덱싱 연습

## slicing

        a = [1, 2, 3, 4, 5]
        a[0:2]
        #output [1, 2]

    문자열에서 슬라이싱했던 것과 동일하다.

        a = [1, 2, 3, 4, 5]
        b = a[:2]
        c = a[2:]
        b
        #output [1, 2]
        c
        #output [3, 4, 5]

    중첩된 리스트에서 슬라이싱하기

        a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
        a[2:5]
        #output [3, ['a', 'b', 'c'], 4]
        a[3][:2]
        #output ['a', 'b']

In [0]:
#단일 리스트 슬라이싱
list1 =

In [0]:
#중첩된 리스트 슬라이싱
list2 =

## 연산자
    1. +

        리스트 더하기

            a = [1, 2, 3]
            b = [4, 5, 6]
            a + b
            #output [1, 2, 3, 4, 5, 6]

    2. *

        리스트 반복하기

            a = [1, 2, 3]
            a * 3
            #output [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [0]:
# 리스트 더하기

In [0]:
# 리스트 반복하기

    - 초보자가 범하기 쉬운 리스트 연산 오류

            a = [1, 2, 3]
            a[2]+ "hi"

        3hi가 출력될 것이라고 생각할 수 있으나 Type Error가 발생한다. 왜 그럴까?

       
       ! Solution !

            str(a[2]) + "hi"

        str()은 정수나 실수를 문자열의 형태로 바꾸어 주는 파이썬의 내장 함수이다. 이를 이용하여 위의 코드처럼 작성하면 '3hi'를 출력할 수 있다.

In [0]:
# str()을 사용해봅시다.

    3. in

        리스트 안에 요소 x가 있는지 확인 하는 operator


```
a = [1, 2, 3]

1 in a
#output True

5 in a
#output False
```

## List iteration_for

    for operator로 리스트의 모든 요소들을 iterate 할 수 있다.
    
> for 요소 in 리스트 :


 
 
 
    e.g.)
            my_list = [1, 3, 4, 8]

            for element in my_list:
                print(element , end=' ')
    
            #output 1 3 4 8

## 수정, 변경, 삭제
   1. 하나의 값 수정

            a = [1, 2, 3]
            a[2] = 4
            a
            #output [1, 2, 4]


   2. 연속된 범위의 값 수정

            a = [1, 2, 4]
            
            a[1:2]
            #output [2]
            
            a[1:2] = ['a', 'b', 'c']
            a
            #output [1, 'a', 'b', 'c', 4]


   - 리스트 수정시 주의할 점

        a[1:2] = ['a', 'b', 'c'] **VS** a[1] = ['a', 'b', 'c']
            

            a[1] = ['a', 'b', 'c'] → 리스트 a의 두번째 요소를 ['a', 'b', 'c']로 바꾼다
            #type(a[1]) -> int

            a[1:2] = ['a', 'b', 'c'] → a[1]에서 a[2] 사이의 리스트를 'a', 'b', 'c'로 바꾼다
            #type(a[1:2]) -> list
            

            a[1] = ['a', 'b', 'c']
            a
            #output [1, ['a', 'b', 'c'], 4]

In [0]:
# 리스트의 요소를 바꾸기

In [0]:
# 리스트에 리스트 넣기

3. [ ]사용해서 요소 삭제

        a = [1, 'a', 'b', 'c', 4]
        
        a[1:3] = []
        a
        #output [1, 'c', 4]

       

4. del 함수 사용해서 요소 삭제

        a
        #output [1, 'c', 4]
        del a[1]
        a
        #output [1, 4]


       del 함수는 파이썬이 자체적으로 가지고 있는 삭제 함수
       * del[x] x번째 요소값을 삭제
       * del[x:y] x번째부터 y번째 요소 사이의 값을 삭제

      del 객체
        #객체란 파이썬에서 사용되는 모든 자료형을 말한다.

In [0]:
# [ ]사용해서 리스트 삭제

In [0]:
# del 사용해서 리스트 삭제

## 함수들

   (리스트 변수명)(.)(함수)

    - append

        리스트에 요소 추가

            a = [1, 2, 3]
            a.append(4)
            a
            #output [1, 2, 3, 4]

        리스트 안에는 어떤 자료형도 추가할 수 있다.

            a.append([5, 6])
            a
            #output [1, 2, 3, 4, [5, 6]]

    - extend

        extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다.

            a = [1, 2, 3]
            a.extend([4, 5])
            a
            #output [1, 2, 3, 4, 5]
            
            
            b = [6, 7]
            a.extend(b)
            a
            #output [1, 2, 3, 4, 5, 6, 7]
            

        a.extend([4, 5])는 a += [4, 5]와 동일하고,
        a += [4, 5]는 a = a+[4, 5]와 같은 표현이다.

    - index

        index(x) 함수는 리스트에 x라는 값이 있으면 x의 위치값을 리턴한다.

            a = [1, 2, 3]
            a.index(3)
            #output 2
            
            a.index(1)
            #output 0
            
            
            a.index(0)
            #output ValueError

    - insert

        insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수이다.
            a = [4, 1, 2, 3]
            a.insert(3, 5)
            a
            #output [4, 1, 2, 5, 3]

    - remove

        리스트에서 첫 번째로 나오는 x를 삭제하는 함수이다.

            a = [1, 2, 3, 1, 2, 3]
            a.remove(3)
            #output [1, 2, 1, 2, 3]

        다시 한 번 a.remove(3)을 실행하면 다시 3이 삭제된다.

    - pop

        리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제하는 함수이다.

            a = [1, 2, 3]
            a.pop()
            #output 3
            
            a
            #output [1, 2]



        pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제한다.

            a =[1, 2, 3]
            a.pop(1)
            #output 2
            
            a
            #output [1, 3]

    - count

        count(x)는 리스트 내에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수이다.

            a = [1, 2, 3, 1]
            a.count(1)
            #output 2


    - sort

        리스트 정렬_1

            a = [1, 4, 3, 2]
            a.sort()
            a
            #output [1, 2, 3, 4]

            a = ['a', 'c', 'b']
            a.sort()
            a
            #output ['a', 'b', 'c']
            
            a.sort(reverse=True)
            a
            #output ['c', 'b', 'a']

In [0]:
# 오름차순

In [0]:
# 내림차순

    - reverse

        리스트를 역순으로 뒤집어 준다. 요소들을 순서대로 정렬한 다음 다시 역순으로 정렬하는 것이 아니라, 현재의 리스트를 그대로 거꾸로 뒤집어 준다.

            a = ['a', 'c', 'b']
            a.reverse()
            a
            #output ['b', 'c', 'a']

In [0]:
a = ['a', 'c', 'b']
b = a.reverse()
a
#output ['b', 'c', 'a']

['b', 'c', 'a']


    - sorted()

        리스트 정렬_2

        a = ['a', 'c', 'b']
        sorted(a)
        #output ['a', 'b', 'c']

---

        리스트 속 리스트도 정렬할 수 있다.

        L = [['sarah', 'Jr', 30], ['rich', 'So', 10], ['bill', 'Jr', 200]]


        sorted(L)
        #output [['sarah', 'Jr', 30], ['rich', 'So', 10], ['bill', 'Jr', 200]]
        # index 0 을 비교하여 정렬한다.



        from operator import itemgetter
        
        
        sorted(L, key=itemgetter(1))
        #output [['sarah', 'Jr', 30], ['bill', 'Jr', 200], ['rich', 'So', 10]]
        # index 1 을 비교하여 정렬한다.


        sorted(L, key=itemgetter(2))
        #output [['rich', 'So', 10], ['bill', 'Jr', 200], ['sarah', 'Jr', 30]]
        # index 2 을 비교하여 정렬한다.


        sorted(L, key=itemgetter(1,2))
        #output [['bill', 'Jr', 200], ['sarah', 'Jr', 30], ['rich', 'So', 10]]
        # index 1 을 비교한 후, index 2를 비교 정렬한다.

In [0]:
#sorted로 리스트 속 리스트 정렬하기

In [0]:
#sorted로 리스트 속 리스트 정렬하기2
from operator import itemgetter8


### The Sorted Function

        sort는 오직 리스트에서만 적용된다. 
        문자열을 정렬하려면 어떻게 해야할까?
        
        1. 스트링을 list()를 이용하여 한 문자씩 저장한 리스트를 만든다.
        2. 리스트를 정렬한다. -> sort
        3. join을 이용하여 string을 다시 합친다.
        
        
        하지만!
        sorted 함수는 문자열에도 적용할 수 있다. 아래 sorted 함수의 작동순서를 보자.
        
        1. 문자열을 개별요소로 나눈다.
        2. 요소들을 정렬한다.
        3. 정렬된 요소들을 리스트로 return 한다.
        
            my_list = [27, 56, 4, 21]
            sorted(my_list)
            #output [4, 21, 27, 56]
            
            my_str = 'Hi mom'
            sorted(my_str)
            #output [' ', 'H', 'i', 'm', 'm', 'o']
            
            
       * sort VS sorted
       
sort|sorted
---|---
list에만 사용 가능|list와 string에 사용 가능
list가 변경됨 | list가 변경되지 않음

In [0]:
# sorted로 string을 정렬해보자

---
# Data Type _ Tuple

## 생성
    1. (과 )으로 둘러싸인다. (vs. list는 []로)
    2. 튜플은 그 값을 바꿀 수 없다. (vs. list는 mutable 자료형)

        t1 = ()
        t2 = (1,)
        t3 = (1, 2, 3)
        t4 = 1, 2, 3
        t5 = ('a', 'b', ('ab', 'cd'))

    리스트와 거의 비슷하지만 2가지 차이점이 있다.

    1. t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마를 반드시 붙여야 한다
    2. t4 = 1, 2, 3처럼 괄호를 생략해도 무방하다

    프로그램 실행하는 동안 그 값이 항상 변하지 않기를 바란다 -> 튜플
    이와 반대로 수시로 그 값을 변화시켜야 할 경우 -> 리스트

In [0]:
# 튜플을 만들어 봅시다.

## 삭제와 변경
    1. 튜플 요소 삭제시 오류

            t1 = (1, 2, 'a', 'b')
            del t1[0]
            #output TypeError

        del 함수로 지우려고 했으나 오류가 뜬다.

    2. 튜플 요소 변경시 오류

            t1 = (1, 2, 'a', 'b')
            t1[0] = 'c'
            #output TypeError

In [0]:
# 오류를 시도해봅시다...(?)

## indexing

        t1 = (1, 2, 'a', 'b')
        t1[0]
        #output 1
        
        t1[3]
        #output 'b'

## slicing

        t1 = (1, 2, 'a', 'b')
        t1[1:]
        #output (2, 'a', 'b')

## +

        t2 = (3, 4)
        t1 + t2
        #output (1, 2, 'a', 'b', 3, 4)

## *

        t2 * 3
        #output (3, 4, 3, 4, 3, 4)

---
# Data Type _ Dictionary

    대응관계를 나타낼 수 있는 자료형. 연관 배열(Associative array)또는 해시(Hash)라고 한다.
    파이썬에서는 이러한 자료형을 딕셔너리라고 한다.

    딕셔너리는 리스트나 튜플처럼 순차적으로 해당 요소값을 구하지 않고 Key 를 통해 Value를 얻는 것이다. 

## 생성

        {Key1:Value1, Key2:Value2, Key3:Value3, ...} 

    
    Key에는 변하지 않는 값을 사용하고, Value에는 변하는 값과 변하지 않는 값 모두 사용할 수 있다.

        dic = {'name':'Jungyeon', 'phone':'0119993323', 'birth': '1118'}

Key | Value
---|---
name|Jungyeon
phone|0119993323
birth|1118



        a = {1: 'hi'}

        a = {'a': [1, 2, 3]}

    Value에 리스트도 넣을 수 있다.

In [0]:
#딕셔너리를 만들어 봅시다.

## 추가

    추가되는 순서는 원칙이 없고 '무엇이 추가 되었는가'가 중요하다.

        a = {1: 'a'}
        a[2] = 'b'                               #{2: 'b'}쌍 추가
        a
        #output {2: 'b', 1: 'a'}



        a['name'] = 'pey'                        #{'name':'pey'}쌍 추가
        #output {'name':'pey', 2:'b', 1:'a'}



        a[3] = [1, 2, 3]                         #{3:[1, 2, 3]}쌍 추가
        #output {'name': 'pey', 3:[1, 2, 3], 2:'b', 1:'a'}

In [0]:
# 딕셔너리에 요소를 추가해봅시다.

## 삭제

        del a[1]
        a
        #output {'name': 'pey', 3: [1, 2, 3], 2: 'b'}

    del a[key]를 입력하면 지정한 key에 해당하는 {key : value} 쌍이 삭제 된다.

In [0]:
# 딕셔너리 요소를 지워봅시다.

## 사용 방법

    딕셔너리는 리스트나 튜플로 나타내기 까다로운 대응관계를 나타내기 매우 좋다.

         {'김연아':"피겨스케이팅", "류현진":"야구", "박지성":"축구", "귀도":"파이썬"}

    - Key를 사용해 Value 얻기

            grade = {'pey': 10, 'julliet': 99}
            
            grade['pey']
            #output 10
            
            grade['julliet']
            #output 99

        딕셔너리는 오직 단 하나의 방법인 Key를 사용해서 Value를 얻어내는 방법 밖에 없다.

            a = {1:'a', 2:'b'}
            a[1]
            #output 'a'
            a[2]
            #output 'b'

In [0]:
# Key를 사용해 Value를 얻어보자

## 주의사항

    1. Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다.어떤 것이 무시될지는 예측할 수 없다. 
    
        a = {1:'a', 1:'b'}
        a
        #output {1:'b'}


    2. Key에 리스트를 쓸 수 없고, 튜플은 쓸 수 있다. 딕셔너리의 Key로 쓸 수 있는지의 유무는 Key가 변하는 값인지 변하지 않는 값인지에 달려있다.

        a = {[1, 2]: 'hi'}
        #output TypeError

    Key 값으로 딕셔너리를 사용할 수 없음도 마찬가지 이유이다. 
    단, Value에는 변하는 값이든 변하지 않는 값이든 상관없이 아무 값이나 넣을 수 있다.

In [0]:
# Key값으로 무엇을 사용할 수 있는지 확인해 봅시다.

## 함수들
    - keys

        Key 리스트 만들기

            a = {'name': 'pey', 'phone':'019993323', 'birth':'1118'}
            a.keys()
            #output dict_keys(['name', 'phone', 'birth'])

        a.keys()는 딕셔너리 a의 Key만을 모아서 dict_keys라는 객체를 return한다.


        dict_keys 객체는
        
        * 리스트를 사용하는 것과 차이가 없다.
        * 리스트의 고유 함수인 append, insert, pop, remove, sort 등의 함수를 수행할 수는 없다.

            for k in a.keys():
            	print(k)
            
            #output
            phone
            birth
            name

        dict_keys 객체를 리스트로 변환하려면 다음과 같이 하면 된다.

            list(a.keys())
            #output ['phone', 'birth', 'name']

In [0]:
a = {'name': 'pey', 'phone':'019993323', 'birth':'1118'}
type(a.keys())

dict_keys


    - values

        Value 리스트 만들기

            a.values()
            #output dict_values(['pey', '0119993323', '1118'])

        values 함수를 호출하면 dict_values 객체가 return되는데 dict_values 객체 역시 dict_keys와 마찬가지로 리스트를 사용하는 것과 동일하게 사용하면 된다.

    - items

        Key, Value 쌍 얻기

            a.items()
            #output dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

        items 함수는 key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

    - clear

        Key:Value 쌍 모두 지우기

            a.clear()
            a
            #output {}


    - get

        Key로 Value 얻기

            a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
            a.get('name')
            #output 'pey'
            
            a.get('phone')
            #output '0119993323'

        get(x) 함수는 x라는 key에 대응되는 value를 돌려준다. 
        a.get('name')은 a['name']을 사용했을 때와 동일한 결과값을 돌려받는다.


        다만, a['nokey']처럼 존재하지 않는 키로 값을 가져오려고 할 경우,
        a['nokey']는 Key 오류를 발생시키고, a.get('nokey')는 None을 return한다는 차이가 있다.

            a.get('nokey')
            #output 'None'
            
            a['honey']
            #output KeyError

        딕셔너리 안에 찾으려는 key 값이 없을 경우, 
        미리 정해둔 디폴트 값을 대신 가져오게 하고 싶을 때에는 get(x, 'default 값')을 사용하면 편리하다.

            a.get('foo', 'bar')
            #output 'bar'

        a 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 리턴한다.

In [0]:
# 딕셔너리를 만들어 준비하세요


# get함수로 value를 얻어 봅시다.


# get함수로 얻은 것과 dic['name']방법으로 얻은 값이 동일합니까?


# 그런 key가 없다구요?


# 없다면 default값을 지정해 봅시다.

    - in

        해당 Key가 딕셔너리 안에 있는지 조사하기

            a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
            'name' in a
            #output True
            'email' in a
            #output False

    - len()

        해당 딕셔너리에 있는 key, values 쌍의 갯수를 return

            a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}
            len(a)
            #output 3

---
# Data Type _ Set



## 생성

        s1 = set([1, 2, 3])
        s1
        #output {1, 2, 3}

        s2 = set("Hello")
        s2
        #output {'e','l', 'o', 'H'}
        
        s3 = {ch for ch in 'I love AI robotics KR'}
        s3
        #output {' ', 'A', 'I', 'K', 'R', 'b', 'c', 'e', 'i', 'l', 'o', 'r', 's', 't', 'v'}

## 특징
    1. 중복을 허용하지 않는다.
    2. 순서가 없다

        순서가 없기 때문에 indexing으로 값을 얻을 수 없다. 
        
        만약 set 자료형에 저장된 값을 인덱싱으로 접근하려면?
        다음과 같이 리스트나 튜플로 변환한 후 해야한다.

            s1 = set([1, 2, 3])
            l1 = list(s1)
            #output [1, 2, 3]
            l1[0]
            #output 1
            
            t1 = tuple(s1)
            t1
            #output (1, 2, 3)
            t1[0]
            #output 1

In [0]:
# set을 list 와 tuple로 만들어서 인덱싱을 해봅시다.

## 활용방법

        s1 = set([1, 2, 3, 4, 5, 6])
        s2 = set([4, 5, 6, 7, 8, 9])

    - 교집합

        * & 이용

            s1 & s2
            #output {4, 5, 6}

        * intersection 함수 이용

            s1.intersection(s2)
            #output {4, 5, 6}

    - 합집합

        * | 이용

            s1 | s2
            #output {1, 2, 3, 4, 5, 6, 7, 8, 9}

        * union 함수 이용

            s1.union(s2)
            #output {1, 2, 3, 4, 5, 6, 7, 8, 9}

    - 차집합

        * — 이용

            s1 - s2
            #output {1, 2, 3}
            
            s2 - s1
            #output {8, 9, 7}

        * difference 함수 이용

            s1.difference(s2)
            #output {1, 2, 3}
            
            s2.difference(s1)
            #output {8, 9, 7}
     
     
     - Symmetric Difference

        * ^ 이용

            s1 ^ s2
            #output {1, 2, 3, 7, 8, 9}
            

        * symmetric_difference 함수 이용

            s1.symmetric_difference(s2)
            #output {1, 2, 3, 7, 8, 9}
            
            s2.symmetric_difference(s1)
            #output {1, 2, 3, 7, 8, 9}

In [0]:
# 교집합 방법 1


# 교집합 방법 2


# 합집합 방법 1


# 합집합 방법 2


# 차집합 방법 1


# 차집합 방법 2


# symmetric difference 1


# symmetric difference 2

## 함수들
    - add

        1개 값 추가하기

            s1 = set([1, 2, 3])
            s1.add(4)
            s1
            #output {1, 2, 3, 4}

    - update

        여러 개의 값 추가하기

            s1 = set([1, 2, 3])
            s1. update([4, 5, 6])
            s1
            #output {1, 2, 3, 4, 5, 6}

    - remove

        특정 값 제거하기

            s1 = set([1, 2, 3])
            s1.remove(2)
            s1
            #output {1, 3}

---
# Data Type _ Boolean


>자료형 | 값 | 참 or 거짓
>---|---|---
>문자열 | "python"|참
> | "" | 거짓
>리스트|[1, 2, 3]|참
> | []|거짓
> 튜플|()|거짓
> 딕셔너리|{}|거짓
> 숫자형|0이 아닌 숫자|참
>  |0|거짓
>   | None | 거짓


    None은 뒤에서 배우는데 일단 거짓을 뜻한다는 것을 알아두자.

## While

    a = [1, 2, 3, 4]
    while a: # a가 참인 동안
    	a.pop() # 리스트의 마지막 요소를 하나씩 꺼낸다.
    #output
    #4
    #3
    #2
    #1

    while 조건문:
    	수행할 문장

    이는 파이썬 프로그래밍에서 매우 자주 이용하는 기법 중 하나이다.

## if/elif/else

    if 조건문 :
        수행할 문장
    else:
        수행할 문장      
        

    if []:
    	print("True")
    else:
    	print("False")
    
    #output False
    
    
    if [1, 2, 3]:
    	print("True")
    else:
    	print("False")
    
    #output True


* 조건문은 얼마든지 늘릴 수 있다.  if -> elif -> else

      if 조건문(1) :
          수행할 문장
      elif 조건문(2) :
          수행할 문장
      else:
         수행할 문장

    bool() 함수로도 확인할 수 있다.

## 연산자로 참 거짓 판단



```
[1, 2, 3, 4] < [1, 2, 3, 0]
#output False

[1, 2, 3, 4] < [1, 2, 3, 4, 0]
#output True

[1, 2, 'one', 'two'] < [3, 4, 5, 6]
#output True

[1, 2, 'one', 'two'] < [1, 2, 5, 6]
#output TypeError

```



---

# Data Type_Variable

    a = 1
    b = "python"
    c = [1, 2, 3]

a, b, c를 변수라고 하고 =(assignment)기호를 사용한다.

C나 Java처럼 변수의 자료형을 함께 쓸 필요가 없다. 파이썬은 변수에 저장된 값을 스스로 판단하여 자료형을 알아낸다.

    변수명 = 변수에 저장할 값

## 객체, 레퍼런스

    파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다. 
    객체란 우리가 지금껏 보아 왔던 자료형을 포함해 '파이썬에서 사용되는 모든 것'을 뜻하는 말이다.

        a = 3

    a -> 변수의 이름, 객체가 저장된 메모리 위치를 가리키는 Reference
    3 -> 정수형 객체

    - 파이썬에서 '3'은 상수가 아닌 <정수형 객체>이다.

        파이썬의 모든 자료형은 객체이다. 그러므로 '3'은 우리가 일반적으로 생각하는 상수값이 아닌 하나의 '정수형 객체'이다. 따라서 a=3과 같이 선언하면 a.real처럼 내장 함수를 바로 사용할 수 있게 된다. C나 Java를 먼저 공부한 사람이라면 이 점이 헷갈릴 수 있다.

        3의 자료형을 확인해보자. type은 입력받은 객체의 자료형을 알려주는 함수이다.

            type(3)
            #output <class 'int'>
            
            
            a = 3
            b = 3
            a is b
            #output True

    a가 3을 가리키고 b도 3을 가리킨다. 이 두 변수는 가리키고 있는 대상이 동일하다.(파이썬 내장 함수인 is 함수를 a is b 처럼 실행했을 때 True를 return)

    3의 reference count(참조 개수)는 2개이다. 만약 c=3이라고 한번 더 입력한다면 reference count는 3이 될 것이다.
    
    

    - a, b, c는 정말 같은 객체를 가리키는 걸까?

        파이썬에는 입력한 자료형에 대한 참조 개수를 알려주는 sys.getrefcount라는 함수가 있다.

            import sys
            sys.getrefcount(3)
            #output 30

        (맨 처음 인터프리터를 실행한 후, sys.getrefcount(3)을 수행했을 때 참조 개수가 30이 나오는 이유는 파이썬 내부적으로 3이라는 자료형을 이미 사용했기 때문)

            a = 3
            sys.getrecount(3)
            #output 31
            
            b = 3
            sys.getrecount(3)
            #output 32
            
            c = 3
            sys.getrecount(3)
            #output 33

In [0]:
# asssignment를 해봅시다.


# type()으로 객체의 자료형을 알아봅시다.



# reference count를 늘려봅시다.

## assignment

        a, b = ('python', 'life') #1 #list도?

        (a, b) = 'python', 'life' #2 #list도?

        [a, b] = ['python', 'life'] #3 #tuple도?
        
        a = b = 'python' #4

        #5
        
        a = 3
        b = 5
        a,b = b,a
        a
        #output 5
        b
        #output 3

In [0]:
# 1


# 2


# 3


# 4


# 5

## 메모리에 생성된 변수 삭제

    3이라는 객체를 가리키는 변수들의 개수를 reference count라고 하였는데, 이 reference count가 0이 되는 순간 3이라는 객체는 자동으로 사라진다. = Garbage collection(쓰레기 수집)

        a = 3
        b = 3
        del(a)
        del(b)

In [0]:
# sys.getrefcount("")로 변화를 관찰해 봅시다.

## 리스트를 변수에 넣고 복사

        a = [1, 2, 3]
        b = a
        a[1] = 4
        a
        #output [1, 4, 3]
        
        b
        #output [1, 4, 3]

    a,b 모두 같은 리스트인 [1, 2, 3]을 가리키고 있다. a, b는 이름만 다를 뿐이지 완전히 동일한 리스트를 가리키고 있는 변수이다.

    - 그렇다면 b 변수를 생성할 때, a와 같은 값을 가지도록 복사해 넣으면서 a가 가리키는 리스트와는 다른 리스트를 가리키게 하는 방법은 없을까?
    
        1. [:] 이용

                a = [1, 2, 3]
                b = a[:]
                a[1] = 4
                a
                #output [1, 4, 3]
                b
                #output [1, 2, 3]

        2. copy 모듈

                from copy import copy
                b = copy(a)


            두 변수가 같은 값을 가지면서 다른 객체를 제대로 생성했는지 확인 -> is 함수

                b is a
                #output False
                
            id()내장함수로도 확인할 수 있습니다.

![대체 텍스트](https://t1.daumcdn.net/cfile/tistory/22685E33559CC0212E)

수고하셨습니다. :) 

일주일 동안 기본예제와 응용예제도 잘 풀어서 python 실력을 높여봅시다!