# About Python



![파이썬로고](https://www.python.org/static/opengraph-icon-200x200.png)
![귀도 반 로섬](https://cms.qz.com/wp-content/uploads/2019/05/Guido-van-Rossum-e1558635088256.jpg?quality=75&strip=all&w=410&h=231)

* 1990년 암스테르담의 귀도 반 로섬이 개발한 인터프리터 언어
    
    *인터프리터 언어 : 한 줄씩 소스 코드를 해석해서 그때그때 실행해 결과를 바로 확인할 수 있는 언어

* 좋아하는 코미디 쇼인 '몬티 파이썬의 날아다니는 서커스(Monty Python's Flying Circus)에서 따온 이름

* 구글에서 만들어진 소프트 웨어의 50%이상

![dropboxlogo](https://cdn.iconscout.com/icon/free/png-256/dropbox-159-675812.png)
![django](http://schoolofweb.net/media/thumbnail/django-thumbnail-300x300.png)


* 파이썬 프로그램은 공동 작업과 유지 보수가 매우 쉽고 편하다. 그래서 이미 다른 언어들로 작성된 많은 프로그램들과 모듈들이 파이썬으로 재구성

---

# Python의 특징

1. 인간다운 언어

    * 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
```
        if 4 in [1, 2, 3, 4]
            print("4가 있습니다.")
        ```


2. 문법이 쉬움

    * 유명한 프로그래머인 에릭 레이먼드(Eric Raymond)는 파이썬을 공부한 지 단 하루 만에 자신이 원하는 프로그램을 작성할 수 있었다고 한다.
    
3.  무료이지만 강력함

    * 언제 어디서든 다운로드 할 수 있고 만들고자하는 프로그램들의 대부분을 파이썬으로 만들 수 있다. 
    * 물론 시스템 프로그래밍이나 하드웨어 제어와 같은 매우 복잡하고 반복 연산이 많은 프로그램은 파이썬과 어울리지 않는다. BUT 다른 언어로 만든 프로그램을 파이썬 프로그램에 포함시킬 수 있다.

    * 파이썬은 C와 찰떡궁합?!

4. 간결함

    * 가장 좋은 방법 1가지만 이용하는 것을 선호 = 간결함의 철학
    * 문법에도 적용되어 파이썬 프로그래밍하는 사람들은 잘 정리되어 있는소스 코드를 볼 수 있다. 다른사람이 작업한 소스코드도 한눈에  이해하기 쉽기 때문에 공동 작업과 유지 보수가 아주 쉽고 편하다.
    * 다른 언어들에서 늘 보게되는 단락을 구분하는 괄호(`{}`) 문자가 보이지 않는 것을 확인할 수 있다. 
  
    * 줄을 참 잘 맞춘 코드라는 것도 알 수 있다.(파이썬 코드는 줄을 맞추지 않으면 실행이 되지 않는다.)

In [ ]:
 # simple.py
languages = ['python','perl', 'c', 'java']

for lang in languages:
    if lang in ['python', 'perl']:
        print("%6s need interpreter" % lang)
    elif lang in ['c', 'java']:
        print("%6s need complier" % lang)
    else:
        print("should not reach here")

5. 개발 속도 빠름

    "Life is too short, You need Python."

---
# 우리들의 실습환경!
# Start at Google Colaboratory

3분 길이의 동영상을 통해 Colaboratory의 주요 기능을 간단하게 알아보실 수 있습니다.

In [ ]:
from IPython.display import YouTubeVideo
YouTubeVideo('inN8seMm7UI', width=600, height=400)

Google Colaboratory에서 Python 버전을 확인해보겠습니다.

In [ ]:
import sys
sys.version_info

In [ ]:
!python --version

# print() 와 input()
* print()는 파이썬 프로그래밍에서 원하는 것을 찍어내고 싶을 때 사용
* input()은 어떤 값을 받아서 변수에 저장하고 싶을 때 사용

In [ ]:
print("Hello World!")

In [ ]:
a = input("원하는 숫자를 써주세요.")

In [ ]:
print(a)

#### 실습시 유용한 `whos`와 `who`!
* `who`를 쓰면 파이썬 파일에서 쓰이고 있는 변수 이름 목록이 나온다.
* `whos`를 쓰면 변수, 변수에 따른 여러 속성들을 보여준다.


```
who
```

output 
```
a
```
whos도 해봅시다.
```
whos
```
output
```
Variable   Type    Data/Info
----------------------------
a          str     5
```
아래의 코드창에서 연습해보세요.

## 객체, 레퍼런스

* 파이썬에서 사용하는 변수는 객체를 가리키는 것이라고도 말할 수 있다. 
* `객체`란 우리가 지금껏 보아 왔던 자료형을 포함해 `파이썬에서 사용되는 모든 것`을 뜻하는 말이다.

```
a = 3
```
* a : 변수의 이름, 객체가 저장된 메모리 위치를 가리키는 Reference
* 3 : 정수형 객체

    파이썬에서 `3`은 상수가 아닌 <정수형 객체>이다.

    파이썬의 모든 자료형은 `객체`이다. 그러므로 `3`은 우리가 일반적으로 생각하는 상수값이 아닌 하나의 <정수형 객체>이다. 따라서 `a = 3`과 같이 선언하면 `a.real`처럼 내장 함수를 바로 사용할 수 있게 된다. ~~C나 Java를 먼저 공부한 사람이라면 이 점이 헷갈릴 수 있다.~~

    3의 자료형을 확인해보자. `type`은 입력받은 객체의 자료형을 알려주는 함수이다.
    ```
    type(3)
    ```
    output `<class 'int'>`

In [ ]:
# type()으로 객체의 자료형을 알아봅시다.

---
# Data Type _ Number

숫자형이란 숫자형태로 이루어진 자료형이다. 

Types | Python Examples
--- | ---
정수 Integer | 123, -345, 0
실수 Float | 10.21, -19.97, 0.6e20
복소수 Complex number | 1 + 2j, -10j
8진수 Octal | 0o10, 0o25
16진수 Hexadecimal | 0x5A, 0xFF

## 정수(Integer)

정수형이란 말 그대로 정수를 뜻하는 자료형을 말한다. 
```
a = 123
b = -178
c = 0
```

In [ ]:
a = 
b = 
c = 
print(a, b, c)

## 실수(float)

실수형은 소수점이 포함된 숫자를 말한다. 
```
a = 1.2
b = -3.45

a = 4.24E10
b = 4.24e-10
```
위의 방식은 '컴퓨터식 지수 표현 방식'으로 파이썬에서는 `4.24e10` 또는 `4.24E10`처럼 표현한다.

(e와 E 둘 중 어느 것을 사용해도 무방)

In [ ]:
a = 
b = 
print(a, b)


## 8진수와 16진수

8진수를 만들기 위해서는 숫자가 `0o` 또는 `0O`(숫자0 + 알파벳 소문자 o 또는 대문자 O)로 시작
```
a = 0o177
```
16진수를 만들기 위해서는 0x로 시작
```
a = 0x8ff
b = 0xABC
``` 
8진수나 16진수는 파이썬에서 잘 사용하지 않는 형태의 숫자 자료형이니 간단히 눈으로 익히고 넘어가자

In [ ]:
a = 
b = 
print(a, b)

## 복소수

* 일반적으로 복소수를 배울때 j대신 i를 사용했을 것이지만 파이썬에서는 j를 사용
* 소문자 j를 써도 되고 대문자 J를 써도 됨
```
a = 1 + 2j
b = 3 - 4J
```

In [ ]:
a = 
b = 
print(a, b)

### 복소수 내장 함수
복소수 관련 내장 함수를 사용하기 위해서는 복소수 변수 이름 뒤에 '.'를 붙인 다음 함수 이름을 써주면 된다.

#### 1.  `.real`
복소수의 실수 부분을 return 한다.
```
a = 1 + 2j
a.real
```
output `1.0`

In [ ]:
a = 
#함수 코드작성

#### 2. `.imag`

복소수의 허수 부분을 return 한다.
```
a = 1 + 2j
a.imag
```          
output `2.0`

In [ ]:
a = 
#함수 코드작성

#### 3. `.conjugate()`
복소수의 켤레복소수를 return한다.
```
a = 1 + 2j
a.conjugate()
```          
output `(1-2j)`

In [ ]:
a = 
#함수 코드작성

#### 4. `abs()`
복소수의 절댓값을 return한다.
```
a = 1 + 2j
abs(a)
```            
output `2.2360679774997898`

In [ ]:
a = 
#함수 코드작성

#### 5. `round()`
소수를 반올림한다.

##### import math
* math.floor()
* math.ceil()
* math.trunc() = int()

## 연산자
1. 사칙연산

    계산기와 마찬가지로 아래의 연산자를 이용해 사칙연산을 수행한다.
```
a = 3
b = 4
a + b
```
output `12`
```
a * b
```
output `12`
```
a / b
```
output `0.75`

In [ ]:
a = 
b = 

# 덧셈
plus = 

# 뺄셈 
subtract = 

# 곱셈
multiply = 

# 나눗셈
divide = 

print(plus, subtract, multiply, divide)


2. `**`

    `x**y`처럼 사용되었을 때 x의 y제곱 값을 return한다.
```
a=3
b=4
a**b
```
output `81`

In [ ]:
#연습해봅시다.

3. `%`

    나눗셈 후 나머지를 return하는 연산자이다.
```
7 % 3
```
output `1`
```
3 % 7
```
output `3`

In [ ]:
#연습해봅시다.

4. `//`

    나눗셈 후 몫을 return하는 연산자이다. 
```
7 / 4
```
output `1.75`
```
7 // 4
```
output `1`

In [ ]:
#연습해봅시다.

---
# Data Type _ String

문자열이란 문자, 단어 등으로 구성된 문자들의 집합을 의미한다.
```
"Life is too short, You need Python"
"a"
'123'
```
`""`이나 `''`로 둘러싸여 있다면 모두 문자열

## 문자열 생성/사용 방법
1. `"____"`
```
"Hello World"
```

2. `'_____'`
```
'Python is fun'
```

3. `"""_____"""`
```
"""Life is too short, You need Python"""
```

4. `'''___'''`
```
'''Life is too short, You need Python'''
```

In [ ]:
# string을 만들어봅시다.

### 문자열을 만드는 방법은 왜 4가지나 있는 것일까?

>문자열 안에도 작은 따옴표와 큰 따옴표가 들어 있어야 할 경우가 있다

        
1. 작은따옴표 포함
    ```
    Python's important point is simple
    ```
    큰 따옴표 안에 들어있는 작은 따옴표는 문자열을 나타내기 위한 기호로 인식되지 않는다.
    ```
    point = "Python's important point is simple"
    point
    ``` 
    
    output `"Python's important point is simple"`

    큰따옴표가 아닌 작은 따옴표로 문자열을 둘러싼 후 다시 실행해보면 구문오류(SytaxError)가 발생

In [ ]:
# 작은 따옴표가 들어가는 문장을 하나 작성해봅시다.

In [ ]:
# 오류도 발생시켜봅시다.

2. 큰따옴표 포함

    "Python is very easy." he says. 라는 문장을 변수 say에 넣어봅시다.
    ```
    say = '"Python is very easy." he says.'
    ```

In [ ]:
# 큰 따옴표가 들어가는 문장을 하나 작성해봅시다.


3. `\`이용(escape)
    ```
    food = 'Python\'s favorite food is perl'
    say = "\"Python is very easy.\" he says."
    ```

    `\`를 작은따옴표나 큰 따옴표 앞에 삽입하면 뒤의 작은/큰따옴표는 문자열을 둘러싸는 기호의 의미가 아니라 문자 그 자체를 뜻함

In [ ]:
# backslash를 이용해서 escape
# 혹시 어디에 \가 있는지 모르시겠나요?

## 여러 줄인 문자열

여러 줄의 문자열을 변수에 대입하고 싶을땐 어떻게 해야할까?
```
Life is too short

You need Python
```

1. escape code `\n`

    ```
    multiline = "Life is too short\nYou need Python"
    ```
    
    
    Escape Code: 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 '문자 조합'. 주로 출력물을 보기 좋게 정렬하는 용도로 이용
    
|\n|문자열 안에서 줄을 바꿀 때 사용|
|-|-|
|\t|문자열 사이에 탭 간격을 줄 때 사용|
|\\|문자 \를 그대로 표현할 때 사용|
|\'|작은 따옴표를 그대로 표현할 때 사용|
|\"|큰 따옴표를 그대로 표현할 때 사용|

2. `'''` or `"""`

    ```
    multiline = '''
    Life is too short
    You need Python
    '''

    multiline = """
    Life is too short
    You need Python
    """

    print(multiline)
    ```

In [ ]:
# \n을 활용해봅시다.

In [ ]:
# ''' '''또는 """ """을 활용해봅시다.

## 연산(Operation)

파이썬에서는 문자열을 더하거나 곱할 수 있다.

1. concatenation `+`

    문자열을 더해서 연결하기
```
head = "Python"
tail = " is fun!"
head + tail
```
    output `Python is fun!`

In [ ]:
# string을 합쳐봅시다.

2. `*`
```
a = "python"
a * 2
```
    output `pythonpython`

    *는 문자열의 반복을 뜻하는 의미로 사용되었다.
```
print("=" * 50)
print("My Program")
print("=" * 50)
```
    output
```
==================================================
My Program
==================================================
```

In [ ]:
# 반복을 알아서 해주네요!

In [ ]:
# 트리 만들어 보기

3. Comparison `<`, `>`
```
'abc' < 'cde'
```
    output `True`
```
'abc' < 'abd'
```
    output `True`
```
'abc' < 'abcd'
```
    output `True`
```
'' < 'a'
```
    output `True`

In [ ]:
# 문자열에서 크기란?

## Indexing(★★★)

인덱싱이란 무엇인가를 '가리킨다'는 의미이다
```
a = "Life is too short, You need Python"
a[3]
```
output `e`

`a[3]`이 뜻하는 것은 `a`라는 문자열의 네 번째 문자인 `e`를 말한다.
    
   ![대체 텍스트](https://cdn.loanstreet.com.my/rich/rich_files/rich_files/000/000/940/original/what-meme-13.jpg)

```
L : 0  
i : 1 
f : 2 
e : 3 
  : 4 
i : 5 
...
```

>"파이썬은 0부터 숫자를 센다"

```
a[0]: L 

a[1]: i 

a[2]: f 

a[3]: e

a[4]:   

a[5]:  i
...
```
`a[번호]`는 문자열 내 특정한 값을 뽑아내는 역할을 한다. 이러한 것을 인덱싱이라고 한다.
```
a = "Life is too short, You need Python"
a[0]
```
output `'L'`
```
a[12]
```
output `'s'`
```
a[-1]
```
output `'n'`

`a[-1]`은 뭘까? 문자열을 뒤에서부터 읽기 위해서 `-`기호가 붙는다.
    

뒤에서부터 첫 번째 문자를 표시할 때도 0부터 세어 `a[-0]`라고 한다면 -0과 0은 같은 것이기때문에 다음과 같이 출력된다.
```
a[-0]
```
output `'L'`
```
a[-2]
```
output `'o'`
```
a[-5]
```        
output `'y'`

In [ ]:
# mysent를 만들고 원하는 char를 인덱싱 해봅시다.

## Slicing(★★★)

슬라이싱이란 무엇인가를 `'잘라낸다'`는 의미이다. 
    
문자열에서 단순히 한 문자만 뽑아내는 것이 아니라 `'Life'`또는 `'You'` 같은 단어들을 뽑아보자.
    
1. `+` 이용하여 indexing 사용
```
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b
```
    output `'Life'`

2. slicing 사용
```
a = "Life is too short, You need Python"
a[0:4]
```
    output `'Life'`

    `a[0:4]`가 뜻하는 것은 a라는 문자열의 0부터 4까지의 문자를 뽑아낸다는 뜻이다.![대체 텍스트](https://cdn.loanstreet.com.my/rich/rich_files/rich_files/000/000/940/original/what-meme-13.jpg)

a = "Life is too short, You need Python"
```
a[0:3]
```       
output `'Lif'`

`a[시작 번호: 끝 번호]`를 지정하면 끝 번호에 해당하는 것은 포함되지 않는다.
```
a[0:5]
```
output `'Life '`

`'Life'`와 `'Life '`는 완전히 다른 문자열이다.
```
a[0:2]
``` 
output `'Li'`
```
a[5:7]
```    
output `'is'`
```
a[12:17]
```
output `'short'`

In [ ]:
# mysent를 만들고 원하는 단어를 슬라이싱 해봅시다.


슬라이싱할 때 항상 시작번호가 '0'일 필요는 없다.

* 끝번호를 생략 -> 시작 번호부터 그 문자열의 끝까지

* 시작번호를 생략 -> 문자열의 처음부터 끝 번호까지

* 둘 다 생략 -> 모두 
```
a[19:]
```
    output `'You need Python'`
```
a[:17]
```
    output `'Life is too short'`
```
a[:]
```
    output `'Life is too short, You need Python'`

슬라이싱에서도 인덱싱과 마찬가지로 `-`기호를 사용할 수 있다.
```
a[19:-7]
```
output `'You need'`

위 소스 코드에서 `a[19:-7]`이 뜻하는 것은? 

`a[19]`에서 부터 `a[-6]`까지를 말한다. (`a[-7]`은 포함하지 않는다!)

```
a = "20110331Rainy"
date = a[:8]
weather = a[8:]
date
```

output `'20010331'`
```
weather
```
output `'Rainy'`

a라는 문자열을 두 부분으로 나누는 기법이다. 
    
동일한 숫자 8을 기준으로 `a[:8]`, `a[8:]`처럼 사용했다. 

`a[:8]`은 `a[8]`이 포함되지 않고, `a[8:]`은 `a[8]`을 포함하기 때문에 8을 기준으로 해서 두 부분으로 나눌 수 있다.

In [ ]:
# 처음부터 슬라이싱


# 마지막까지 슬라이싱


# - 기호도 써봅시다.

### n 등분
```
a = "20110331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
```
```      
year
```
    output `'2001'`
```
day
```
    output `'0331'`
```
weather
```
    output `'Rainy'`

---
```
# problem #
a = "Pithon"
a[1]
```     
output `'i'`
```   
a[1] = 'y'
```
output `TypeError: 'str' object does not support item assignment`

우리의 생각대로라면 i가 y로 바뀌길 원할 것이다. 하지만 error가 난다.
        
> 문자열(String), 튜플(Tuple) 등의 자료형은 immutable

```
# solution # 슬라이싱 기법
a = "Pithon"
a[:1]
```

output `'P'`

```
a[2:]
```

output `'thon'`

```
a[:1] + 'y' + a[2:]
```

output `'Python'`

In [ ]:
# 슬라이싱으로 단어를 수정해봅시다.
myword =

In [ ]:
# 여기서 잠깐 파이썬스러운 코딩하나 알고갑시다!
# step?

## Method

함수를 사용하는 형식은 `(문자열 변수 이름)(.)(함수의 이름)`이다.

각 함수의 예시를 보고 아래의 코드 창에서 연습해봅시다.

### 1. count

문자 개수 세기
```
a = "hobby"
a.count('b')
```
output `2`

In [ ]:
#연습해봅시다.

### 2. find

위치 알려주기(1)
```
a = "Python is best choice"
a.find('b')
```
output `10`
```
a.find('k')
```
output `-1`
            
문자열 중 문자 b가 처음으로 나온 위치를 return

만약 찾는 문자나 문자열이 존재하지 않는다면 `-1`을 return한다.

In [ ]:
#연습해봅시다.

### 3. index

위치 알려주기(2)
```
a = "Life is too short"
a.index('t')
```
output `8`
```
a.index('k')
```
output `Value Error`

문자열 중 문자 t가 맨 처음으로 나온 위치를 return 

만약 찾는 문자나 문자열이 존재하지 않는다면 오류를 발생시킨다.

In [ ]:
#연습해봅시다.

### 4. join

문자열 삽입
```
a = ","
a.join('abcd')
```
output `'a,b,c,d'`

`abcd`라는 문자열의 각각의 문자 사이에 변수 a의 값인 `,`를 삽입한다.

In [ ]:
#연습해봅시다.

### 5. upper

소문자를 대문자로 바꾸기
```
a = "hi"
a.upper()
```
output `'HI'`

### 6. lower
대문자를 소문자로 바꾸기
```
a = "HI"
a.lower()
```
output `'hi'`

In [ ]:
#연습해봅시다.

### 7. lstrip

왼쪽 공백 지우기
```
a = " hi "
a.lstrip()
```
output `'hi '`

In [ ]:
# lstrip

### 8. rstrip

오른쪽 공백 지우기
```
a = " hi "
a.rstrip()
```
output `' hi'`

In [ ]:
# rstrip

### 9. strip

양쪽 공백 지우기
```
a = " hi "
a.strip()
```
output `'hi'`

In [ ]:
# strip

### 10. replace

문자열 바꾸기
```

a = "Life is too short"
a.replace("Life", "Your leg")
```
output `'Your leg is too short'`

`replace(바뀌게 될 문자열, 바꿀 문자열)`처럼 사용하여 치환

In [ ]:
#연습해봅시다.

### 11. split

문자열 나누기
```
a = "Life is too short"
a.split()
```
output `['Life', 'is', 'too', 'short']`
```
a = "a:b:c:d"
a.split(':')
```
output `['a', 'b', 'c', 'd']`

* 괄호 안에 아무런 값도 넣어주지 않으면 공백을 기준

* 괄호 안에 특정한 값이 있을 경우, 괄호 안의 값을 구분자로 해서 나눔
        
* 나눈 값은 리스트에 하나씩 들어감

In [ ]:
#연습해봅시다.

## Formatting
```python
"현재 온도는 18도 입니다."
"현재 온도는 20도 입니다."
```
* 문자열 내의 특정한 값을 바꿔야 할 때
* 문자열 내에 어떤 값을 삽입

"현재 온도는 18도 입니다."
"현재 온도는 20도 입니다."

1. 숫자 대입
```
"I eat %d apples." % 3
```
    output `"I eat 3 apples."`

    `%d` -> 문자열 포맷 코드

In [1]:
#연습해봅시다.
"I eat %d apples."%3

'I eat 3 apples.'

2. 문자열 대입
```
"I eat %s apples." % five
```
    output `'I eat five apples.'`

    `%d` 대신 `%s`를 문자열을 넣기 위해 쓴다.

In [ ]:
#연습해봅시다.

3. 변수로 대입
```
number = 3
"I eat %d apples." % number
```
    output `'I eat 3 apples.'`

In [ ]:
#연습해봅시다.

4. 2개 이상의 값 넣기
```python
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)
```        
    output `'I ate 10 apples. so I was sick for three days.'`

In [ ]:
#연습해봅시다.

Code | 설명
--- | ---
`%s` | 문자열 (string)
`%c` | 문자 1개(Character)
`%d` | 정수(Integer)
`%f` | 부동 소수(floating-point)
`%o` | 8진수
`%x` | 16진수
`%%` | Literal %(문자 '%'자체)


- `%s`는 어떤 형태의 값이든 변환해 넣을 수 있다. (자동으로 %뒤에 있는 값을 문자열로 바꿈)
```
"I have %s apples" % 3
```
    output `'I have 3 apples'`
```
"rate is %s" % 3.234
```
    output `'rate is 3.234'`

In [ ]:
# 만능 %s를 사용해봅시다.

- 포매팅 연산자 %d와 %를 같이 쓸때 → `%%`
```
"Error is %d%." % 98
```
    output `ValueError: incomplete format`
    
    문자열 포맷코드인 `%d`와 `%`가 같은 문자열 내에 존재하는 경우, `%`를 나타내려면 반드시 `%%`로 써야하는 법칙이 있기 때문이다. 

    하지만 문자열 내에 `%d` 같은 포매팅 연산자가 없으면 `%`는 홀로 쓰여도 상관이 없다.
```
"Error is %d%%." %98
```
    output `'Error is 98%.'`

In [ ]:
# 오늘 비가 올 확률은?


- 포맷코드와 숫자 함께 사용

    1. 정렬과 공백
```
"%10s" % "hi"
```
    output `'        hi'`

    전체 길이가 10개인 문자열 공간에서 `hi`를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 채운다.
```
"%-10sjane." % 'hi'
```

    output `'hi        jane.'`

    반대쪽인 왼쪽 정렬은 `"%-10s"`
         
    형식은 `%(좌/우)(공간)(자료형)` 이다.

    2. 소수점 표현

        3.42134234를 소수점 4번 째 자리까지만 나타내고 싶은 경우
```
"%0.4f" % 3.42134234
```
    output `'3.4213'`

    형식은 `%(공간)(.)(소수점 이후 나올 숫자의 개수)f` 이다.
```
"%10.4f" % 3.42134234
```
    output `'   3.4213'`

In [ ]:
# 정렬과 공백 연습


# 소수점 연습

## format 함수(★★)

문자열의 format 함수를 이용하면 좀 더 발전된 스타일로 문자열 포맷을 지정할 수 있다.

- 숫자 바로 대입

```
"I eat {0} apples".format(3)
```
    output `'I eat 3 apples'`

In [2]:
#연습해봅시다.
"I eat {} apples".format(3)

'I eat 3 apples'


- 문자열 바로 대입
```
"I eat {0} apples".format("five")
```
    output `'I eat five apples'`

In [ ]:
#연습해봅시다.


- 숫자값을 가진 변수로 대입
```
number = 3
"I eat {0} apples".format(number)
```
    output `'I eat 3 apples'`

In [ ]:
#연습해봅시다.

- 2개 이상의 값 넣기
```
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)
```
    output `'I ate 10 apples. so I was sick for three days.'`

    2개 이상의 값을 넣을 경우, 문자열의 `{0}`, `{1}`과 같은 인덱스 항목들이 format함수의 입력값들로 순서에 맞게 바뀐다.

In [3]:
#연습해봅시다.
number = 10
day = "three"
"I ate {1} apples. so I was sick for {0} days.".format(number, day)

'I ate three apples. so I was sick for 10 days.'

- 변수로 여러개의 값 넣기

    ```
    "I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
    ```

    output `'I ate 10 apples. so I was sick for 3 days.'`

    `{name}`형태를 이용할 경우 format 함수의 입력값에는 반드시 `name = value` 와 같은 형태의 입력값이 있어야만 한다.

    ```
    number=10
    day=3
    "I ate {number} apples. so I was sick for {day} days.".format(number, day)
    ```

    output `KeyError`

In [ ]:
#연습해봅시다.


- 인덱스와 변수를 혼용해서 넣기
```
"I ate {0} apples. so I was sick for {day} days".format(10, day=3)
```
    output `'I ate 10 apples. so I was sick for 3 days.'`

    인덱스 항목과 `name=value` 형태를 혼용하는 것도 가능하다.

In [ ]:
#연습해봅시다.

- 왼쪽 정렬
    ```
    "{0:<10}".format("hi")
    ```
    output `'hi        '`

    `:<10` 표현식을 이용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.

- 오른쪽 정렬
    ```
    "{0:>10}".format("hi")
    ```
    output `'          hi'`

- 가운데 정렬
    ```
    "{0:^10}".format("hi")
    ```
    output '     hi    '

In [ ]:
# 왼쪽 정렬

In [ ]:
# 오른쪽 정렬

In [5]:
# 가운데 정렬
"{0:^5}".format("hi")

' hi  '

- 공백 채우기
    ```
    "{0:=^10}".format("hi")
    ```
    output `'====hi===='`
    ```
    "{0:!<10}".format("hi")
    ```
    output `'hi!!!!!!!!'`

    정렬시 공백 대신에 지정한 문자 값으로 채워 넣는 것도 가능하다.

In [ ]:
#공백 채우기

- 소수점 표현하기
    ```
    y = 3.42134234
    "{0:0.4f}".format(y)
    ```
    output `'3.4213'`
    ```
    {0:10.4f}.format(y)
    ```
    output `'   3.4213'`

    자릿수를 10으로 맞출 수 도 있다.

In [ ]:
#소수점 표현하기

- `{` 또는 `}` 문자 표현하기
    ```
    "{{ and }}".format()
    ```
    output `'{ and }'`

    중괄호 문자를 문자 그대로 사용하고 싶은 경우 -> 2개를 연속해서 사용(`{{, }}`)

In [ ]:
#{,}표현하기

# Data Type _ Boolean
불리언(boolean) 자료형은 논리 자료형이라고도 하며, 참과 거짓을 나타내는 데 쓰인다.

자료형 | 값 | 참 or 거짓
---|---|---
문자열 | `"python"`|참
 | `""` | 거짓
리스트|`[1, 2, 3]`|참
 |`[]`|거짓
 튜플|`()`|거짓
 딕셔너리|`{}`|거짓
 숫자형|`0이 아닌 숫자`|참
  |`0`|거짓
   | `None` | 거짓

`None`은 뒤에서 배우는데 일단 거짓을 뜻한다는 것을 알아두자.

대부분 특정 자료형의 거짓(False)는 자료형 안에 값이 없거나 0인 경우에 해당한다.

바로 어떤 자료형의 boolean 값을 확인해보기 위해 `bool()`함수를 잠시 사용해보자.
```
s = "hello"
print(bool(s))

t = ()
print(bool(t))
```
output 
```
True
False
```

In [ ]:
# 연습해봅시다.

# Data Type_Variable
```
a = 1
b = "python"
c = [1, 2, 3]
```
`a`, `b`, `c`를 변수라고 하고 `=`(assignment)기호를 사용한다.

C나 Java처럼 변수의 자료형을 함께 쓸 필요가 없다. 파이썬은 변수에 저장된 값을 스스로 판단하여 자료형을 알아낸다.
```
변수명 = 변수에 저장할 값
```

In [6]:
# asssignment를 해봅시다.
a = "1000"
b = "1000"

In [7]:
a is b

True

In [13]:
import sys
sys.getrefcount(3)

570

In [12]:
c = 3

In [10]:
sys.getrefcount("1000")

5

```
a = "1000"
b = "1000"
a is b
```
output `True`

`a`가 `"1000"`을 가리키고 `b`도 `"1000"`을 가리킨다. 이 두 변수는 가리키고 있는 대상이 동일하다.

( 파이썬 내장 함수인 `is` 함수를 `a is b `처럼 실행했을 때 `True`를 return )

`"1000"`의 reference count(참조 개수)는 4개 이다. 만약 `c = "1000"`이라고 한번 더 입력한다면 reference count는 `5`이 될 것이다.

---
#### `a`, `b`, `c`는 정말 같은 객체를 가리키는 걸까?

파이썬에는 입력한 자료형에 대한 reference 개수를 알려주는 `sys.getrefcount`라는 함수가 있다.

```
import sys
sys.getrefcount(3)
```
output `653`

(맨 처음 인터프리터를 실행한 후, `sys.getrefcount(3)`을 수행했을 때 참조 개수가 `653`이 나오는 이유는 파이썬 내부적으로 `3`이라는 자료형을 이미 사용했기 때문)

```
a = 3
sys.getrefcount(3)
```

output `658`

---

```
b = 3
sys.getrefcount(3)
```
    output `6683`
```
c = 3
sys.getrefcount(3)
```
    output `6684`

    숫자가 하나씩 늘어나는 것을 볼 수 있다.

In [ ]:
# reference count를 늘려봅시다.

## 메모리에 생성된 변수 삭제

`3`이라는 객체를 가리키는 변수들의 개수를 reference count라고 하였는데, `del()` 함수를 사용하여 변수를 삭제하면 reference count는 줄어든다. 만약 해당 객체의 reference count가 `0`이 되면, 객체는 자동으로 사라진다. 

= Garbage collection(쓰레기 수집) 이라고도 한다.

whos로 확인해보자.
```
a = 3
b = 3
```
```
whos
```
output 
```
Variable   Type    Data/Info
----------------------------
a          int     3
b          int     3
```
`del()`로 지워보자.
```
del(a)
del(b)
```
```
whos
```
output `Interactive namespace is empty.`

In [ ]:
# 연습해봅시다.(만약 1개의 cell에서 연습하고 싶다면 print()를 사용하세요!)
# 변수를 만들어 줍니다.

In [ ]:
# whos로 확인해봅시다.

In [ ]:
# del로 지워줍니다.

In [ ]:
# whos로 확인해봅시다.

![대체 텍스트](https://media1.tenor.com/images/b53b732d61a1ab47ac19ada4d69a5713/tenor.gif?itemid=8025409)

### 수고하셨습니다. :)