In [7]:
# mission
# 처음 숫자부터 끝 숫자까지의 합계를 출력하는 프로그램
# 사용자로부터 숫자 2개를 입력 받는다
start = int(input("처음 숫자"))
end = int(input("끝 숫자"))
alist = [x for x in range(start, end+1)]
print(alist)
sumnum = sum(alist)
print(sumnum)
#-------method2-------
hap = 0
for i in range(start, end+1):
    hap += i
print(hap)

처음 숫자 5
끝 숫자 15

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
110
110

In [ ]:
#programmers #다른사람 문제풀이를 볼 수 있음
def sumDivisor(num):
    # num / 2 의 수들만 검사하면 성능 약 2배 향상잼
    return num + sum([i for i in range(1, (num // 2) + 1) if num % i == 0])
#--------------------------------------------------------------------------
def sumDivisor(num):
    return sum([i for i in range(1,num+1) if num%i==0])

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(sumDivisor(12))
#--------------------------------------------------------------------------
def sumDivisor(num):
    return sum(filter(lambda x: num % x == 0, range(1, num + 1)))

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(sumDivisor(12))
#---------------------------------------------------------------------------
from math import sqrt

def sumDivisor(num):
    answer = 0
    for d in range(1, int(sqrt(num))+1):
        if num%d == 0:
            answer += d
            answer += int(num/d)

    return answer

# 아래는 테스트로 출력해 보기 위한 코드입니다.
print(sumDivisor(12))

In [8]:
for i in range(5): #0~4
    print(i)

0
1
2
3
4

In [9]:
for i in range(5, 10): #5~9
    print(i)

5
6
7
8
9

In [10]:
for i in range(0, 10, 3): #0, 3, 6, 9
    print(i)

0
3
6
9

In [11]:
arr = [273,32,103,57,52]

In [12]:
for elem in arr:
    print(elem)

273
32
103
57
52

In [13]:
for i in range(len(arr)): #0~4
    print("{}번째 값:{}".format(i, arr[i]))

0번째 값:273
1번째 값:32
2번째 값:103
3번째 값:57
4번째 값:52

In [15]:
#역 반복문 - 내림차순
for i in range(4, 0-1, -1):
    print("현재 반복 변수:{}".format(i, arr[i]))

현재 반복 변수:4
현재 반복 변수:3
현재 반복 변수:2
현재 반복 변수:1
현재 반복 변수:0

In [16]:
#reversed() 함수 - 늦은 실행
list(reversed(range(5)))

[4, 3, 2, 1, 0]

In [17]:
for i in reversed(range(5)):
    print(i)

4
3
2
1
0

In [19]:
# while True: 무한 루프
# while을 for처럼 사용 가능
import time
time.time() 
#1970년 1월 1일 0시0분0초(컴퓨터 애니악 생일)를 기준으로 흘러간 밀리sec

1593738244.3736618

In [21]:
# break/continue
# continue 다시 올라감
# break 중단
numbers = [10, 5, 6, 90, 46, 80, 4, 3, 1]
for i in numbers:
    if i <10:
        continue
    print(i)

10
90
46
80

In [22]:
# list 기본함수
#min(), max(), sum()
#reversed()
#enumerate()
arr = ["A", "B", "C"]

In [25]:
for i,v in enumerate(arr):
    print("{}번째 요소는 {}".format(i, v))

0번째 요소는 A
1번째 요소는 B
2번째 요소는 C

In [27]:
icecream = ['choco', 'strawberry', 'vanila']
for i,v in enumerate(icecream, 1): #1부터 시작
    print("{}번째로 좋아하는 맛은 {}이다.".format(i,v))

1번째로 좋아하는 맛은 choco이다.
2번째로 좋아하는 맛은 strawberry이다.
3번째로 좋아하는 맛은 vanila이다.

In [28]:
#dictionary items()
dic = {"key A":"val A","key B":"val B","key C":"val C"}

In [29]:
dic

{'key A': 'val A', 'key B': 'val B', 'key C': 'val C'}

In [30]:
dic.items()
#[('key A', 'val A'), ('key B', 'val B'), ('key C', 'val C')]
#list안에 tuple이 있음. tuple이 키와 값의 쌍으로 이루어져 있음

dict_items([('key A', 'val A'), ('key B', 'val B'), ('key C', 'val C')])

In [31]:
for k, v in dic.items():
    print("dic[{}]={}".format(k,v))

dic[key A]=val A
dic[key B]=val B
dic[key C]=val C

In [34]:
# 0~19 중의 짝수들의 제곱한 리스트
arr = []
for i in range(0,20,2):
    res = i*i
    arr.append(res) #또는 i**2
print(list(range(0,20,2)))
print(arr)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [35]:
# list 표현식
arr = [i**2 for i in range(0,20,2)]
print(arr)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [38]:
# [표현식 for 반복자 in 반복할 수 있는것(sequence자료형-range, list, ---)]
# [표현식 for 반복자 in 반복할 수 있는것 if 조건문]
# 1~10 중 홀수만 모으기
# 일반적인 for문
arr = []
for i in range(1,11):
    if i%2 != 0:
        arr.append(i)
#------------------------------------------
alist = [i for i in range(1,11) if i%2 !=0]
#------------------------------------------
print(arr == alist)

True

In [39]:
# enumerate(), items(), 리스트 내포

In [42]:
# function
# IT = 저장 + 처리
# 언어 = 변수(명사) + 함수(동사)
def print_n_times(value, n): #define 정의하다 #snake 표기법
    for i in range(n):
        print(value)

In [44]:
print_n_times("hi",5) #매개변수 갯수 주의

hi
hi
hi
hi
hi

In [45]:
#가변 매개변수
# def 함수이름(매개변수, 매개변수, ..., *가변 매개변수):
#     수행 문장
def print_n_times_v2(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [47]:
print_n_times_v2(2, "hi", "{}".format("there"), 2)

hi
there
2

hi
there
2

In [49]:
#기본 매개변수
def print_n_times_v3(value, n=3):
    for i in range(n):
        print(value)

In [50]:
print_n_times_v3("hi")

hi
hi
hi

In [51]:
# print안의 기본 매개변수 - 예시
print_n_times_v3("hi", 5)

hi
hi
hi
hi
hi

In [52]:
#가변이 우선 그다음 기본 매개변수
# 키워드 매개변수
def print_n_times_v4(*values, n=3):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [53]:
print_n_times_v4("hello", "world", "python")

hello
world
python

hello
world
python

hello
world
python

In [54]:
print_n_times_v4("hello", "world", "python", n=1)

hello
world
python

In [55]:
def test(a, b=10, c=100):
    print(a+b+c)

In [56]:
test(10)

120

In [57]:
test(20,30)

150

In [58]:
test(50, 50, 60)

160

In [59]:
test(c=10, a=50, b=60) #순서변경 가능

120

In [60]:
test(10, c=200)

220

In [62]:
#return
#input처럼
def return_test():
    print("A 위치입니다")
    return
    print("B 위치입니다")
    
return_test()

A 위치입니다

In [63]:
print(return_test()) #None, null 아무것도 없음

A 위치입니다
None

In [65]:
a = return_test()

A 위치입니다

In [66]:
print(a)

None

In [67]:
def return_test_v2():
    return 100

In [69]:
value = return_test_v2()
print(value)

100

In [ ]:
def average(list):
    # 함수를 완성해서 매개변수 list의 평균값을 return하도록 만들어 보세요.
    if len(list) == 0:
        return 0

    return sum(list) / len(list)

In [ ]:
import statistics
# 통계모듈
def average(list):
    # 함수를 완성해서 매개변수 list의 평균값을 return하도록 만들어 보세요.
    return statistics.mean(list)

In [70]:
def average(array):
    return sum(array)/len(array) if array else 0

In [71]:
average([1,2,5,6])

3.5

In [72]:
#undefined vs null vs NaN
#sum = 0 #이런 코드 실행하면 안됨
def sum_all(start, end):
    output = 0
    for i in range(start, end+1):
        output += i
    return output

In [73]:
sum_all(5,10)

45

In [74]:
def sum_all_v2(start=0, end=100,step=1):
    output = 0
    for i in range(start, end+1, step):
        output += i
    return output

In [75]:
sum_all_v2(0,100,10)

550

In [76]:
sum_all_v2(end=50)

1275

In [77]:
sum_all_v2(end=100, step=2)

2550

In [84]:
#함수 활용
#재귀 함수(!)
#조기 리턴
#-----------------
#팩토리얼
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

In [85]:
factorial(1)

1

In [86]:
factorial(2)

2

In [87]:
factorial(3)

6

In [88]:
factorial(5)

120

In [90]:
#재귀함수를 쓰는 이유
#반복문보다 simple/가독성 좋음
def factorial(n):
    if n ==0:
        return 1
    else:
        return n*factorial(n-1)

In [91]:
#단점 시간 오래 걸림
def fibonacci(n):
    if n == 1:
        return 1
    if n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)

In [95]:
fibonacci(5)

5

In [103]:
%%time 
fibonacci(35) #시간오래걸림
#실행시간 기록
# %%time 옆에 주석 달면 안됨

Wall time: 5.9 s

9227465

In [110]:
# global
counter = 0 #global variable
def fibonacci(n):
    print("fibonacci({})를 구합니다.".format(n))
    #print("-----------")
    global counter
    counter += 1
    if n ==1:
        return 1
    if n ==2:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [111]:
fibonacci(10)
print("---------------------")
print("finbonacci(10) 계산에 활용된 덧셈횟수는 {}번 입니다.".format(counter))

fibonacci(10)를 구합니다.
fibonacci(9)를 구합니다.
fibonacci(8)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(8)를 구합니다.
fibonacci(7)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(6)를 구합니다.
fibonacci(5)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(4)를 구합니다.
fibonacci(3)를 구합니다.
fibonacci(2)를 구합니다.
fibonacci(1)를 구합니다.
fibonacci(2)를 구합니다.
---------------------
finbonacci(10) 계산에 활용된 덧셈횟수는 109번 입니다.

In [118]:
#memorization
#재귀함수 빠르게 실행하기
#중요
dic = {
    1:1,
    2:1
}
#json 키는 문자열만 됨. python dic은 다 가능
def fibonacci_2(n):
    if n in dic:
        return dic[n]
    else:
        output = fibonacci_2(n-1) + fibonacci_2(n-2)
        dic[n] = output
        return output
print(fibonacci_2(10))
print(fibonacci_2(20))
print(fibonacci_2(30))
print(fibonacci_2(40))
print(fibonacci_2(50))
print(fibonacci_2(60))

55
6765
832040
102334155
12586269025
1548008755920

In [119]:
%%time
fibonacci_2(35)

Wall time: 0 ns

9227465

In [120]:
dic

{1: 1,
 2: 1,
 3: 2,
 4: 3,
 5: 5,
 6: 8,
 7: 13,
 8: 21,
 9: 34,
 10: 55,
 11: 89,
 12: 144,
 13: 233,
 14: 377,
 15: 610,
 16: 987,
 17: 1597,
 18: 2584,
 19: 4181,
 20: 6765,
 21: 10946,
 22: 17711,
 23: 28657,
 24: 46368,
 25: 75025,
 26: 121393,
 27: 196418,
 28: 317811,
 29: 514229,
 30: 832040,
 31: 1346269,
 32: 2178309,
 33: 3524578,
 34: 5702887,
 35: 9227465,
 36: 14930352,
 37: 24157817,
 38: 39088169,
 39: 63245986,
 40: 102334155,
 41: 165580141,
 42: 267914296,
 43: 433494437,
 44: 701408733,
 45: 1134903170,
 46: 1836311903,
 47: 2971215073,
 48: 4807526976,
 49: 7778742049,
 50: 12586269025,
 51: 20365011074,
 52: 32951280099,
 53: 53316291173,
 54: 86267571272,
 55: 139583862445,
 56: 225851433717,
 57: 365435296162,
 58: 591286729879,
 59: 956722026041,
 60: 1548008755920}

In [121]:
#early return
#else 빼도 됨
dic = {
    1:1,
    2:1
}
#json 키는 문자열만 됨. python dic은 다 가능
def fibonacci_3(n):
    if n in dic:
        return dic[n]
    output = fibonacci_2(n-1) + fibonacci_2(n-2)
    dic[n] = output
    return output

In [123]:
fibonacci_3(60)

1548008755920

In [124]:
# 함수 고급
# 튜플, 람다, 파일처리, 제너레이터
# 객체지향에서 멀티쓰레드(데드락) -> 데이터를 불변으로 다루자
l1 = [10,20,30]
t1 = (10,20,30)

In [125]:
t1[0]

10

In [126]:
t1[1]

20

In [127]:
t1[2]

30

In [129]:
#t1[0] = 100
#immutable
#TypeError: 'tuple' object does not support item assignment

In [130]:
[a,b]=[10,20]
(c,d)=(10,20)

In [131]:
print(a,b,c,d)

10 20 10 20

In [132]:
#괄호 생략
t2 = 1, 2, 5, 8

In [133]:
t2

(1, 2, 5, 8)

In [134]:
type(t2)

tuple

In [139]:
a = 10
b=20
print(a,b)
temp =a
a=b
b=temp
print("changed")
print(a,b)

10 20
changed
20 10

In [140]:
print(a,b)
a,b=b,a
print("changed")
print(a,b)
#튜플이 변한게 아니라 변수가 update 된것

20 10
changed
10 20

In [143]:
k=(a,b)=10,3

In [142]:
b

3

In [144]:
k[0]=5

TypeError: 'tuple' object does not support item assignment

In [145]:
#값 교환은 정렬 알고리즘에서 많이 쓰인다

In [147]:
#여러개의 값 리턴할 때d
def several():
    return (10,60)
a,b = several()
print(a,b)

10 60

In [148]:
#lambda
#함수의 매개변수로 함수 전달
# 고차함수
def call_10_times(func):
    for i in range(10):
        func()
        
def print_hi():
    print("hi")

call_10_times(print_hi)

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [149]:
# def call_10_times(print_hi()):
#     for i in range(10):
#         print_hi()

In [150]:
#데이터 처리 고차 함수(빅데이터 처리의 원조 함수들)
#map: 하나씩 처리
#filter: 이름 그대로 데이터 걸러냄
#reduce: 합침
# map(함수, 리스트)
# filter(함수, 리스트)
arr = [1,2,3,4,5]
def power(i):
    return i*i

print(list(map(power, arr)))#map-laxy evaluation

[1, 4, 9, 16, 25]

In [151]:
arr2 = []
for i in arr:
    arr2.append(i*i)
print(arr2)

[1, 4, 9, 16, 25]

In [152]:
#lambda
#lambda 매개변수: 리턴값

# 원래 함수로 표현한다면
def power(i):
    return i*i

# lambda로 표현하기
power = lambda i : i*i

# in 1 line
print(list(map(lambda i : i*i, arr)))

[1, 4, 9, 16, 25]

In [153]:
s1 = input("중복없는 숫자 3개: ") #'123'
arr = list(s1) #['1', '2', '3']
# 문자로 되어있는 리스트 요소들을 숫자로 바꾸고 싶다.
arr2 = [int(i) for i in arr] #리스트 표현식
#for로 풀어서 해도 됨

중복없는 숫자 3개:  123

In [154]:
arr2

[1, 2, 3]

In [158]:
arr3 = list(map(int,arr)) #[map(int,arr)]

In [159]:
arr3

[1, 2, 3]

In [160]:
arr4 = [map(int,arr)]

In [161]:
arr4

In [162]:
#map(함수, 시퀀스 자료형:리스트, 튜플, 셋, 문자열)

In [164]:
#filter 비교연산자 사용
#boolean이 반환되는 함수
#filter(비교하는 함수[결과가 True/False], 시퀀스 자료형)
def under_3(item):
    return item<3

arr = [1,2,3,4,5]
arr2 = list(filter(under_3,arr)) #laxy evaluation
print(arr2)

[1, 2]

In [166]:
#1~10중에 홀수만 한 줄로 뽑아내기
print(list(filter(lambda i:i%2==1, range(1,6))))

[1, 3, 5]

[lazy_evaluation](https://itholic.github.io/python-lazy-evaluation/)